<h1>Search!</h1>

<nav class='users-search'>
<form>  
  <div>
    <label>Username:
      <input type="text" name='username' class='user-search-input'>
    </label>
  </div>
</form>


  <h1>Results:</h1>
  <ul class='users'></ul>
</nav>